<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3 ">
      <table class="table">
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>Distance</th>
          <th>Travel Time</th>
          <th></th>
        </tr>
        <% @routes.each do |route| %>
        <tr>
          <td><%= route.source_city.name %></td>
          <td><%= route.destination_city.name %></td>
          <td><%= route.distance %></td>
          <td><%= route.travel_time %></td>
          <td><%= link_to "Delete", admin_route_path(route),
               method: :delete,
               data: {confirm: 'Are you sure?' },
               class: "btn btn-danger btn-sm "%></td>
        </tr>
        <% end %>
      </table>
      <%= link_to 'Add Route', admin_new_route_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
