<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3 ">
      <table class="table">
        <tr>
          <th>City</th>
          <th>Car</th>
          <th>Rate/km</th>
          <th></th>
        </tr>
        <% @cars_available.each do |car_available| %>
        <tr>
          <td><%= car_available.city.name %></td>
          <td><%= car_available.car.name %></td>
          <td><%= car_available.rate_per_km %></td>
          <td><%= link_to "Delete", admin_car_available_path(car_available),
               method: :delete,
               data: {confirm: 'Are you sure?' },
               class: "btn btn-danger btn-sm "%></td>
        </tr>
        <% end %>
      </table>
      <%= link_to 'Add Car Availability', admin_new_car_available_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
