<% if @car_available.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @car_available.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class=container>
  <div class="row">
    <%= form_for :car_available,:html => {:class => "form-horizontal center"} do |f| %>
    <div class="form-group">
      <%= f.label :city, class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= collection_select(:car_available, :city_id, @cities, :id, :name, {:prompt => false}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :car, class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= collection_select(:car_available, :car_id, @cars, :id, :name, {:prompt => false}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rate_per_km, class: "col-md-4 control-label"   %>
      <div class="col-md-4">
        <%= f.text_field :rate_per_km, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8 col-md-offset-4">
        <%= f.submit class: 'btn btn-primary'%>
      </div>
    </div>
    <% end %>
  </div>
</div>
