<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3 ">
      <table class="table">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.name %></td>
          <td><%= link_to "Delete", admin_car_path(car),
               method: :delete,
               data: {confirm: 'Are you sure?' },
               class: "btn btn-danger btn-sm "%></td>
        </tr>
      <% end %>
      </table>
      <%= link_to 'Add Car', admin_new_car_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
