<div class=container>
  <div class="row">
    <%= form_for :car,:html => {:class => "form-horizontal center"}  do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "col-md-4 control-label"   %>
      <div class="col-md-4">
        <%= f.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :seats, class: "col-md-4 control-label"   %>
      <div class="col-md-4">
        <%= f.text_field :seats, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8 col-md-offset-4">
        <%= f.submit class: 'btn btn-primary'%>
      </div>
    </div>
    <% end %>
  </div>
</div>
