<!DOCTYPE html>
<html>
<head>
  <title>Cab - Admin Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if params[:controller] == 'car'%>"><%= link_to 'Cars', admin_cars_path %></li>
      <li class="<%= 'active' if params[:controller] == 'city'%>"><%= link_to 'Cities', admin_cities_path %></li>
      <li class="<%= 'active' if params[:controller] == 'route'%>"><%= link_to 'Car Routes', admin_routes_path %></li>
      <li class="<%= 'active' if params[:controller] == 'cars_available'%>"><%= link_to 'Cars Availability', admin_cars_available_path %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
